#grid{
  height: 100%;;
  position: relative;
}


.mainContainer {
    position: relative;
    width: 100%;
    height: 100%;

    .container-wrapper {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;

    }

    .card-loading{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;

      i{
        display: block;
        font-size: 40px;
        color: $tourquise;
        margin-right: 15px;
      }
    }

    .card-list {
      margin-bottom: 10px;
      display: inline-block;
      max-width: 300px;
      min-width: 280px;
      width:  100%;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);
      border-radius: 3px;

      a{
        color: $black;
        position:relative;
        display: block;
        padding: 15px;
        &:hover{
          text-decoration: none;
          cursor: auto;
        }
      }
      .card-list-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .list-content{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 15px;

          .list-name {
            font-size: 18px;
            line-height: 1.2em;
            font-weight: bold;
            text-align: left;
            color: $black;
            margin-right: 15px;
          }

          .list-category {
            text-transform: uppercase;
            font-size: 9px;
            line-height: 17px;
            padding: 2px 5px;
            border-radius: 5px;
            color: white;
          }
          .category-Design{
            background-color: $yellow;
          }

          .category-Other{
            background-color: $blue;
          }

          .category-Development{
            background-color: $red;
          }

          .category-Tutorial{
            background-color: $orange;
          }
        }

        .list-tags {
          margin-bottom: 10px;
          span {
            display: inline-block;
            background-color: $catskill-white;
            color: $malibu;
            border-radius: 20px;
            font-size: 10px;
            padding: 2px 5px;
            opacity: 0.7;
            &:hover {
              background-color: #EDF1F6;
              color: $malibu;
              opacity: 1;
            }
          }


          span:not(:last-of-type) {
            margin-right: 5px;
          }
        }

        .list-data-container {
          border-top: 1px solid $catskill-white;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 15px 0 0;
          color: $nepal;

          .list-data, .list-resources{
            font-size: 12px;
          }

          .list-resources {
            text-transform: uppercase;
          }

          .list-info{
            ul{
              display: flex;
              justify-content: space-between;
              margin-bottom: 0 !important;

              li{
                text-transform: uppercase;
                margin-left: 15px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
}
