

.detailListContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  margin: 10px auto;
  border-radius: 7px;

  .detail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0;
    .name-title{
      color: $tourquise;
      font-size: 24px;
      text-align: center;
      font-weight: bold;
    }
    .detail-edit{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        &:first-child{
          margin-right: 7px;
        }
      }
    }
  }

  .list-details{
    padding: 0 20px 0;
    margin-bottom: 7px;
    div{
      color: #c4bcc1;
      font-size: .9em;
      i{
        margin-right: 5px;
      }
    }
  }

  .resources-list{
    background-color: #fff;
    .resource-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 2px solid $bg-color;

      &:first-child{
        border-top: 2px solid $bg-color;
      }

      .item-index{
        width: 50px;
        text-align: center;
        color: #999;
        font-weight: bold;
      }

      .item-content{
        padding: 5px 0;
        width: 650px;

        .item-description{
          color: #999;
        }

        p{
          margin-bottom: 0;
        }
      }
    }
  }
}
