
.navbar-nav{
  li{
    a{
      padding: 10px 0;
    }
  }
}

.navbar-default{
  box-shadow: 0px 1px 9px rgba(0,0,0,0.3);
  border-color: transparent !important;
}

.navbar{
  margin-bottom: 0 !important;
  text-align: center;
  color: $base-color;
  li{
    a{
      color: $base-color;
      padding: 10px 0;
    }
  }

  .navbar-right{
    .btnArea {
        text-align: right;
        padding: 10px 5px;

        a {
            border: none;
            background-color: $tourquise !important;
            padding: 5px 10px;
            text-transform: uppercase;
            color: white;
            i {
                margin-left: 5px;
                color: white;
                background-color: transparent !important;
            }
        }
    }

    .dropdown{
      img{
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}

.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
  color: $oxford-blue !important;

  i{
    margin-right: 7px;
  }
}
