$bg-color:      #f4f4f4;
$link:          rgb(3,155,229);

$base-color:    #2c404d;
$dark:          #2f313f;
$tourquise:     #59d9a4;
$blue:          #66baf4;
$yellow:        #f4bd3f;
$red:           #e95547;
$orange:        #fea15e;

$google:        #f44336;
$twitter:       #039be5;
$github:        #585858;
