a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Roboto, Arial, sans-serif; }

a {
  color: #039be5; }

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #232323;
  background-color: #f4f4f4 !important; }

.addBtn {
  padding: 8px 9px !important;
  margin-top: 7px;
  background-color: #59d9a4 !important;
  border: none !important;
  color: #2f313f !important; }

.navbar {
  background-color: #fff !important;
  width: 100% !important; }

.container {
  display: block;
  min-height: 100%; }

.navbar {
  margin-bottom: 0 !important;
  text-align: center;
  color: #2c404d; }
  .navbar a {
    color: #2c404d; }
  .navbar .navbar-right .btnArea {
    text-align: right;
    padding: 7px; }
    .navbar .navbar-right .btnArea a {
      border: none;
      background-color: #59d9a4 !important;
      padding: 7px 10px;
      text-transform: uppercase;
      color: white; }
      .navbar .navbar-right .btnArea a i {
        margin-left: 5px;
        color: white;
        background-color: transparent !important; }
  .navbar .navbar-right .dropdown img {
    border-radius: 50%;
    margin-right: 5px; }

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  color: #2f313f !important; }
  .navbar-brand i {
    margin-right: 7px; }

.dashContainer {
  height: 100%;
  min-height: 100%;
  position: relative;
  margin-top: 68px;
  width: 100%; }
  .dashContainer .row {
    height: 100%; }
    .dashContainer .row > div {
      height: 100%; }

#grid {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: relative; }

.mainContainer {
  position: relative;
  width: 100%;
  height: 100%; }
  .mainContainer .card-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; }
    .mainContainer .card-loading i {
      display: block;
      font-size: 40px;
      color: #59d9a4;
      margin-right: 15px; }
  .mainContainer .card-list {
    margin-bottom: 10px;
    min-height: 1px;
    height: auto !important; }
    .mainContainer .card-list .card-list-container {
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      padding: 10px;
      display: flex;
      flex-direction: column; }
      .mainContainer .card-list .card-list-container .list-content {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .mainContainer .card-list .card-list-container .list-content .list-name {
          font-size: 16px;
          font-weight: bold;
          text-align: left; }
          .mainContainer .card-list .card-list-container .list-content .list-name a {
            color: #333; }
            .mainContainer .card-list .card-list-container .list-content .list-name a:hover {
              text-decoration: none;
              color: #039be5;
              cursor: auto; }
        .mainContainer .card-list .card-list-container .list-content .list-category {
          text-transform: uppercase;
          font-size: 10px;
          font-weight: bold;
          line-height: 17px;
          padding: 2px 5px;
          border-radius: 5px;
          color: white; }
        .mainContainer .card-list .card-list-container .list-content .category-Design {
          background-color: #f4bd3f; }
        .mainContainer .card-list .card-list-container .list-content .category-Other {
          background-color: #66baf4; }
        .mainContainer .card-list .card-list-container .list-content .category-Development {
          background-color: #e95547; }
        .mainContainer .card-list .card-list-container .list-content .category-Tutorial {
          background-color: #fea15e; }
      .mainContainer .card-list .card-list-container .list-data-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0 0; }
        .mainContainer .card-list .card-list-container .list-data-container .list-resources {
          text-transform: uppercase;
          color: #999;
          font-size: 12px; }
        .mainContainer .card-list .card-list-container .list-data-container .list-info ul {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0 !important; }
          .mainContainer .card-list .card-list-container .list-data-container .list-info ul li {
            text-transform: uppercase;
            margin-left: 15px;
            font-size: 12px; }

.addListContainer {
  margin-top: 60px; }
  .addListContainer p {
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 10px;
    font-weight: bold;
    color: #59d9a4;
    display: block; }
  .addListContainer form label {
    font-weight: normal;
    color: #999; }
  .addListContainer form .error-required {
    color: #FF5252;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 36px;
    text-align: right; }
  .addListContainer form .btn-resource {
    width: 100%;
    background-color: #818ff0;
    color: white;
    text-transform: uppercase;
    padding: 0 10px; }
  .addListContainer .btn-info {
    background-color: #59d9a4 !important;
    border: #59d9a4; }
  .addListContainer .addListbtn a {
    padding: 15px;
    text-transform: uppercase; }
  .addListContainer .error-list {
    margin-top: 0 !important;
    color: #FF5252;
    text-transform: none;
    font-size: 12px;
    padding: 7px; }
  .addListContainer .resourceForm {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 7px; }
    .addListContainer .resourceForm label {
      color: #818ff0;
      font-weight: bold; }
  .addListContainer .noLeft {
    padding-left: 0 !important;
    clear: both; }
  .addListContainer .noRight {
    padding-right: 0 !important;
    text-align: right; }
  .addListContainer .table thead tr th {
    border: none !important;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: #9a9a9a; }
  .addListContainer .table tbody tr {
    background-color: #f4f8f9; }
    .addListContainer .table tbody tr td {
      border-bottom: 5px solid #fff !important;
      padding: 7px;
      vertical-align: middle;
      color: #78909C; }
      .addListContainer .table tbody tr td:last-child {
        text-align: center; }
        .addListContainer .table tbody tr td:last-child i {
          color: #FF5252; }
    .addListContainer .table tbody tr:after {
      margin-bottom: 10px; }
  .addListContainer .ta-editor.ta-html, .addListContainer .ta-scroll-window.form-control {
    min-height: 100px  !important; }
  .addListContainer .ta-scroll-window > .ta-bind {
    min-height: 100px !important; }

.detailContainer {
  height: 100%;
  min-height: 100%;
  position: relative;
  margin-top: 53px;
  width: 100%; }
  .detailContainer .row {
    height: 100%; }
    .detailContainer .row > div {
      height: 100%; }

#grid {
  margin: 0 auto;
  text-align: center;
  position: relative; }

.detailListContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 7px; }
  .detailListContainer .name-title {
    color: #59d9a4;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 7px 0; }
  .detailListContainer .resources-list .resource-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #f4f4f4; }
    .detailListContainer .resources-list .resource-item:first-child {
      border-top: 2px solid #f4f4f4; }
    .detailListContainer .resources-list .resource-item .item-index {
      width: 50px;
      text-align: center;
      color: #999;
      font-weight: bold; }
    .detailListContainer .resources-list .resource-item .item-content {
      padding: 5px 0;
      width: 650px; }
      .detailListContainer .resources-list .resource-item .item-content .item-description {
        color: #999; }
      .detailListContainer .resources-list .resource-item .item-content p {
        margin-bottom: 0; }
