<div class="dashContainer container-fluid" ng-controller="DashboardController">
  <div class="row">
    <div class="col-md-12">
      <div class="mainContainer">
        <div class="btnArea">
          <a href="/addList"
          class="btn btn-info">Add List <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
        <div class="col-md-12" id="grid" >
          <div class="row container-wrapper"
          masonry="{
            transitionDuration: '.9s',
            hiddenStyle: {
              opacity: .001,
              transform: 'scale(0.01)'
            },
            visibleStyle: {
              opacity: 1
            }
          }"
          reload-on-show
          reload-on-resize>
            <div
            class="col-md-12 card-loading"
            ng-if="lists === undefined">
            <p>
              <i class='fa fa-spinner fa-spin '></i>
            </p>
            <p> Loading content... </p>
            </div>
            <div ng-repeat="list in lists"
            ng-mouseover="hoverIn()"
            ng-mouseleave="hoverOut()"
            class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-list masonry-brick"
            ng-if="lists.length != 0"
            >
              <div class="card-list-container">
                <div class="list-content">
                  <div class="list-name">
                    <a href="" ng-href="/list/{{list.$id}}">
                      {{list.name}}
                    </a>
                  </div>
                  <div class="list-category category-{{list.category}}">
                    {{list.category}}
                  </div>
                </div>
                <div class="list-data-container">
                  <div class="list-resources">
                    {{list.resources.length}} resources
                  </div>
                  <div class="list-info" ng-show="hoverEdit">
                    <ul>
                      <li><a href="/list/{{list.$id}}/edit">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
