<div class="pageContainer container-fluid" ng-controller="DashboardController">
  <div class="row">
      <div class="mainContainer">
        <div class="container" id="grid" >
          <div class="row container-wrapper">
            <div  class="card-loading" ng-if="lists === undefined">
              <p> <i class='fa fa-spinner fa-spin '></i> </p>
              <p> Loading content... </p>
            </div>
            <div ng-repeat="list in lists"
                class="item card-list"
                ng-if="lists.length != 0">
              <a ng-href="#/list/{{list.$id}}">
                <div class="card-list-container" >
                  <div class="list-content">
                    <div class="list-name">
                      {{list.name}}
                    </div>
                    <div class="list-category category-{{list.category}}">
                      {{list.category}}
                    </div>
                  </div>
                  <div class="list-tags" ng-if="list.tagList.length != 0">
                    <span ng-repeat="tag in list.tagList">{{tag}}</span>
                  </div>
                  <div class="list-data-container">
                    <div class="list-resources" ng-if="list.resources.length === 1">
                      {{list.resources.length}} resource
                    </div>
                    <div class="list-resources" ng-if="list.resources.length > 1">
                      {{list.resources.length}} resources
                    </div>
                    <div class="list-data" ng-if="list.created_at">
                      {{list.createdAt}}
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
